@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*custom css*/

body, html{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 30px;
  color: #424242;
}

h2{
  font-size: 22px;
  color: #424242;
}

h3{
  font-size: 18px;
  color: #424242;
}

label{
  font-size: 16px;
  color: #808080;
}


/*layout*/
#header{
  text-align: right;
}

/*buttons*/
.btn-upload{
  background: #E1EB8A;
  margin: 10px;
  color: #424242;
}

.btn-print{
  background: #006683;
  margin: 10px;
  color: white;
}
